.idea
*.iml
target
.project
.vagrant
*.settings
*.classpath
.locket
*.~lock*

# Python object files
*.py[cod]

# vim temporary files
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
# session
Session.vim
# temporary
.netrwhist
*~
